.content{
    margin-bottom: 1.65rem;
    ul.banxin{
      display:flex;justify-content:space-between;flex-wrap:wrap;
      width:86%;margin:0 auto;
      li{
        width:48.5%;position: relative;
        margin-top: 1.65rem;
        z-index: 1;
          img{display: block;
              width:100%;
              height:100%;
          }
        .ceng{
          background:rgba(0,0,0,0.2);
          position: absolute;
          left:0;top:0;right:0;bottom: 0;
          margin: auto;
          width:0%;
          height:0%;
          text-align: center;
          border: 1px solid #fff;
          transition: 0.8s;
          .zhong{opacity: 0;transition: 0.8s;}
        }
      }
      li:hover .ceng{
        background:rgba(0,0,0,0.2);
        position: absolute;
        left:0;top:0;right:0;bottom: 0;
        margin: auto;
        width:96%;
        height:96%;
        text-align: center;
        border: 1px solid #fff;
        .zhong{
          opacity: 1;
          position: absolute;
          left:0;top:0;right:0;bottom: 0;
          margin: auto;
          width:22%;
          height:10%;
          color: #fff;
          h3{font:600 1.4rem "";}
          p{font:1.2rem "";margin:1rem 0;}
          a{color: #fff;
            display: inline-block;
            line-height:2rem;
            width:4rem;
            text-align: center;
            border: 1px solid #fff;
          }
          a:hover{background:rgba(0,0,0,0.4)}
        }
      }
      li.te{
          .tete{margin-top: 2rem;}
          .tebox {
            position: relative;
            .ceng01 {
              background: rgba(0, 0, 0, 0.2);
              position: absolute;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              width: 0%;
              height: 0%;
              text-align: center;
              border: 1px solid #fff;
              transition: 0.8s;
              .zhong01 {
                opacity: 0;
                transition: 0.8s;
              }
            }
          }
          .tebox:hover{
              .ceng01{
                background:rgba(0,0,0,0.2);
                position: absolute;
                left:0;top:0;right:0;bottom: 0;
                margin: auto;
                width:96%;
                height:96%;
                text-align: center;
                border: 1px solid #fff;
                .zhong01{
                  opacity: 1;
                  position: absolute;
                  left:0;top:0;right:0;bottom: 0;
                  margin: auto;
                  width:22%;
                  height:10%;
                  color: #fff;
                  a{color: #fff;
                    display: inline-block;
                    line-height:2rem;
                    width:4rem;
                    text-align: center;
                    border: 1px solid #fff;
                  }
                  a:hover{background:rgba(0,0,0,0.4)}
                }
              }
          }
      }
    }
}
@media screen and (max-width: 850px){
  .content{
      ul.banxin{
        li{
          width:100%;
        }
      }
  }


}