.yetou{background:#000;
  color: #fff;font:1rem/3rem "";
  position: fixed;top:0;width: 100%;z-index: 100;
  display:flex;justify-content:space-between;flex-wrap:wrap;
  ul{display:flex;justify-content:space-between;flex-wrap:wrap;
    li{margin:0 0.5rem;}
    a:hover{color: #94d500;}
  }
  ol{display:flex;justify-content:space-between;flex-wrap:wrap;
    li{margin:0 0.5rem;}
    a{color: #94d500;}
  }
  .min_left{text-align: center;display: none;
   font:700 0.8rem/1rem "";padding:1rem;
    box-sizing: border-box;
  }
  .min_right{text-align: center;display: none;
  font:700 0.8rem/1rem "";padding:1rem;
    box-sizing: border-box;
  }

  img{width:1.5rem;height:1.5rem;margin:0 0.5rem;}
  a{color: #fff;}
}
nav{
  margin-top:3rem;background: #000000;
  color: #fff;
  .top{margin:0 auto;font:700 1.5rem "楷体";
      text-align: center;border-bottom: 2px solid #94d500;
      padding: 1.2rem 0;
  }
  .top:hover{color:#94d500;}
  ul{display:flex;justify-content:space-between;flex-wrap:wrap;
    width:80%;margin:0 auto;
    li{line-height: 2.6rem;
        a{color:#fff;}
        a:hover{color:#94d500;}
    }
  }
}
.erji{
  margin: 0 auto;width:86%;position: relative;
  .tong{display:flex;justify-content:space-between;flex-wrap:wrap;
    padding-top:1.5rem;opacity: 0;position: absolute;left:0;top:0;
    width:100%;
    dl{
      width:25%;line-height: 2rem;
      dt{font-weight: 700;color: #000}
      dd{
        a{color:#333}
        a:hover{color:#94d500;font-weight: 700;}
      }
    }
   a.tu{width:25%;text-align: center;
      img{width:100%;height:80%;}
      span{
        font:1rem/2rem "";}
      p{line-height:2rem;width:100%;box-shadow: 0 0 5px #000;transition: 0.8s;}
     p:hover{background: #c0c0c0;}
   }
  }
}
@media screen and (max-width: 850px){
  .yetou{
    ul,ol{display: none;}
    .min_left,.min_right{display:block;}
  }
  nav{
    display: none;}

}